{% extends "base.html" %}

{% block title %}{{ t.about_title }}{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1>{{ t.about_heading }}</h1>
    <p class="lead">{{ t.about_subtitle }}</p>
</div>

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2>{{ t.about_goal_title }}</h2>
        <p>
            {{ t.about_goal_desc }}
        </p>
        <hr>
        <h2>{{ t.about_team_title }}</h2>
        <ul>
            <li>{{ t.member_1 }}</li>
            <li>{{ t.member_2 }}</li>
            <li>{{ t.member_3 }}</li>
            <li>{{ t.member_4 }}</li>
            <li>{{ t.member_5 }}</li>
            <li>{{ t.member_6 }}</li>
            <li>{{ t.member_7 }}</li>
        </ul>
        <p>
            {{ t.about_team_desc }}
        </p>
    </div>
</div>
{% endblock %}
